$colorRevision: #FFEA7D;
$colorVisualData: #808080;
$colorSuperhuman: #4078CD;
$colorAal: #1F9F71;
$colorConnecting: #FF6A65;
$colorSDP: #333;

$sourceHan: source-han-sans-simplified-c, sans-serif;
$heavy: 900;
$bold: 700;
$normal: 400;
$light: 300;